<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutofacInjectDemo.InjectSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AutofacInjectDemo.InjectSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <applicationSettings>
        <AutofacInjectDemo.InjectSettings>
            <setting name="EmoudleAssemblyFileNames" serializeAs="String">
                <value>E1.dll,E2.dll</value>
            </setting>
        </AutofacInjectDemo.InjectSettings>
    </applicationSettings>
    <userSettings>
        <AutofacInjectDemo.InjectSettings>
            <setting name="EModuleProcess" serializeAs="String">
                <value>E2,E1</value>
            </setting>
        </AutofacInjectDemo.InjectSettings>
    </userSettings>
</configuration>